<div style="text-align: center">
    <a href="mailto:ievgentararaka@gmail.com" class="social-icon">
        <i data-feather="mail" class="social-icon-icon"></i>
        <span class="social-icon-text">email</span>
    </a>
    <a href="https://twitter.com/rxn1d" class="social-icon">
        <i data-feather="twitter" class="social-icon-icon"></i>
        <span class="social-icon-text">twitter</span>
    </a>
    <a href="https://github.com/rxn1d" class="social-icon">
        <i data-feather="github" class="social-icon-icon"></i>
        <span class="social-icon-text">github</span>
    </a>
    <a href="https://www.linkedin.com/in/ievgentararaka/" class="social-icon">
        <i data-feather="linkedin" class="social-icon-icon"></i>
        <span class="social-icon-text">linkedin</span>
    </a>
    <a href="https://stackoverflow.com/users/story/2758470?view=Cv" class="social-icon">
        <i data-feather="briefcase" class="social-icon-icon"></i>
        <span class="social-icon-text">CV</span>
    </a>
</div>